## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
var_1 = 5
print (var_1)

5

2) Imprimir el tipo de dato de la variable 8.5

In [3]:
var_2 = 8.5
print("el tipo de variable es:", type(var_2))

el tipo de variable es: <class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print ("el tipo de variable del ejercicio 1 es:", type(var_1))

el tipo de variable del ejercicio 1 es: <class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
var_nom = "Facundo"

5) Crear una constante que contenga el número Pi

In [6]:
VAR_PI = 3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [7]:
print (type(VAR_PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [9]:
var_e = 2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [13]:
var_3 = True
Var_4= "True"

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [15]:
print (type(var_3), type(Var_4))

<class 'bool'> <class 'str'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [16]:
var_5 = 5 + 2.2

11) Realizar una operación de suma de un número definido como string con un entero

In [17]:
var_6 = "5"
print (5 + int(var_6))

10

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [19]:
var_7 = var_e**3

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [23]:
entrada = input ("chantale un número")
print ( int(entrada) * 2)

10

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [31]:
var_8 = 27
var_9 = 4
print (var_8 / var_9)

6.75

15) De la división anterior solamente mostrar la parte entera

In [33]:
print (var_8 // var_9)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [34]:
print (var_8 % var_9)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [36]:
print ((var_8 // var_9) *4 + (var_8 % var_9))

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [37]:
print (2=="2")

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [38]:
print(2==int("2"))

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [40]:
a = float("3,8") #la coma

ValueError: could not convert string to float: '3,8'

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [41]:
print (10 + '10') #porque '10' se considera texto. sifueran texto serìa un resultado y si fueran tomados como nùmero otro

TypeError: unsupported operand type(s) for +: 'int' and 'str'

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [45]:
menu="""
MENU:
1-pizza
2-Empanadas
3-Milanesas
4-Salir
"""
print (menu)

MENU:
1-pizza
2-Empanadas
3-Milanesas
4-Salir

23) Crear una lista que contenga los números del 1 al 10

In [65]:
lista = [1, 2, 3, 4, 5, 6, 7, 8,  9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [53]:
print (lista[9], lista[-2])

9 9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [66]:
lista[2] = "Facundo"
print (lista[2])
print (lista)

Facundo
[1, 2, 'Facundo', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [73]:
matriz = [ ["A","B","C"],["D","E","F"],["G","I","H"] ]
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'I', 'H']]

27) Imprimir la matriz creada en el punto 26

In [70]:
print(matriz)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

28) Modificar la letra E de la matriz y colocar la letra Z

In [74]:
matriz [1][1] = "Z"
print (matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'I', 'H']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [75]:
matriz [0][0] = 1 
matriz [0][1] = 2
matriz [0][2] = 3
print (matriz)

[[1, 2, 3], ['D', 'Z', 'F'], ['G', 'I', 'H']]

30) Crear una tupla que contenga 5 marcas de ropa

In [76]:
tupla = ("tussy", "community", "Sabor_a_calle", "crime", "holly")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [79]:
print(tupla[0])

tussy

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [80]:
tupla [1] = "adidas" #no lo permite el formato

TypeError: 'tuple' object does not support item assignment

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [82]:
asistencia ={"nombre": "Manuel", "apellido":"Bravo", "edad":"26", "hobbies": ["mecànica", "natación", "video_juegos"]}
print(asistencia)

{'nombre': 'Manuel', 'apellido': 'Bravo', 'edad': '26', 'hobbies': ['mecànica', 'natación', 'video_juegos']}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [88]:
print(asistencia["hobbies"])

['mecànica', 'natación', 'video_juegos']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [90]:
asistencia["edad"] = 27
print ( asistencia ["edad"])

27